<%= form_with(model: adtifact, local: true) do |form| %>
  <% if adtifact.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(adtifact.errors.count, "error") %> prohibited this adtifact from being saved:</h2>

      <ul>
      <% adtifact.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= form.label :name %>
    <%= form.text_field :name, id: :adtifact_name %>
  </div>

  <div class="field">
    <%= form.label :key %>
    <%= form.text_field :key, id: :adtifact_key %>
  </div>

  <div class="field">
    <%= form.label :project_id %>
    <%= form.text_field :project_id, id: :adtifact_project_id %>
  </div>

  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>
