<nav class="navbar navbar-toggleable-sm navbar-static-top">
  <%= link_to ('Project Management App'), root_path, class: "navbar-brand" %>
  <ul class="navbar-nav ml-2">
    <% if current_user && current_user.is_admin?%>
      <li class="nav-item">
        <%= link_to "Add Members",
          new_member_path, class: 'btn btn-primary nav-link' %>
      </li>
      <li class="nav-item">
        <%= link_to "Change Plan",
          edit_plan_path, class: 'btn btn-primary nav-link' %>
      </li>
    <% end %>
  </ul>
  <ul class="navbar-nav">
    <% if current_user %>
      <li class="nav-item user-name">
      <%= link_to ('<i class="fa fa-user"></i> ' + truncate(current_user.email, length: 25)).html_safe, edit_user_registration_path, title: 'Edit Profile' %>
      </li>
      <li class="col-md-1"> </li>
      <li class="col-md-3 logout"><%= link_to('Logout', destroy_user_session_path, class: 'btn btn-xs btn-danger', title: 'Logout', :method => :delete) %></li>
    <% else %>
      <li class="col-md-4 pull-right">
      <%= link_to('Sign In', new_user_session_path, class: 'btn btn-primary', title: 'Sign In') %>
      </li>
    <% end %>
  </ul>
</nav>